:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
.wrapper {
    max-width: 700px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    background-color: #a7715dd2;
}

.header {
    margin-bottom: 0;
    background-color: #c9af98;
    border-radius: 5px;
}
h1 {
    color: #3a4660;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 600;

}
a {
    text-decoration: none;
}

.front-profile {
    display: flex;
    margin-top: 10px;
}

.profile {
    border-radius: 50%;
    width: 50%;
    height: 90%;
    border: 4px solid #3a4660;
    margin-bottom: 10px;
    margin-left: 10px;
}
.profile-name {
    width: 70%;
    text-align: center;
    margin-top: 20px;
}

a {
    text-align: center;
}

/* NAVIGATION */
.topnav {
    overflow: hidden;
    background-color: #3a4660;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #a7715d;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: 'Baloo Da 2';
    text-transform: uppercase;
    font-weight: 600; 
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #3a4660;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 2ox solid white;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #a7715d;
    color: #3a4660;
    text-align: left;
    /* margin-bottom: 0; */
  }
  .curriculum-vitae {
    /* color: #3a4660; */
    color:rgba(255, 255, 255, 0.596);
    text-transform: uppercase;
    font-family: 'Baloo Da 2';
}


  /* SECTIONS */

  .section {
      background-color: #c9af98;
      margin-top: 25px;
      /* padding: 10px; */
      border-radius: 5px;
      /* margin: 7px; */
  }

  h2 {
      text-align: center;
      color: #3a4660;
      font-family: 'Ubuntu', sans-serif;
      margin-bottom: 9px;
      font-size: 1.7em;
  }

  hr {
      margin-top: 0;
      width: 150px;
      height: 4px;
      background-color:#3a4660;
      
  }

  .content {
      background-color: rgba(255, 255, 255, 0.74);
      font-family: 'Baloo Da 2', cursive;
      border-left: 10px solid #3a4660;
      border-radius: 4px;
      margin: 1em;
      padding: 1em;
      font-size: 1.1em;
      
  }

  .bold {
      text-transform: uppercase;
      font-weight: 600;
      font-family: 'Baloo Da 2', cursive;
      color: #3a4660;
  }

 .location {
      /* width: 4px;
      height: 4px; */
      background-color: #3a4660c5;
      border-radius: 5px;
      padding: 2px 4px;
      color: #a7715d;
      font-weight: 600;
  }

  /* SKILL BAR */
  .container {
    width: 100%;
    height: 25px; /* Full width */
    background-color: rgba(255, 255, 255, 0.74); /* Grey background */
    /* margin-left: 10px;
    margin-right: 10px; */
  }

  .skills {
    text-align: left; /* Right-align text */
    padding-top: 5px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }

  .skill-name {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 1.3em;
      color: #3a4660;
      font-family: 'Baloo Da 2';
      font-weight: 700;
      margin-left: 15px;
      /* margin-top: 5px; */
  }

  .html {width: 90%; height: 25px; background-color: #3a4660c5;}
  .css {width: 30%; height: 25px; background-color: #3a4660c5;}
  .FL {width: 53%; height: 25px; background-color: #3a4660c5;}


  /* LANGUAGES */
.wrap-lang {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lang-box {
    padding: 10px 40px;
    margin: 10px 16px;
    border-radius: 10px;
    color: #a7715d;
    background-color:#3a4660;
    text-transform: uppercase;
    font-family: 'Baloo Da 2';
    font-weight: bold;
}

/* CONTACT CARD */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.swipe-card {
    margin: 10px 5px;
    width: 300px;
    height: 200px;
    /* position: relative; */
    background-color: #3a4660;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.836);
    border-radius: 10px;
    font-family: 'Baloo Da 2';
    
}

.contact-header {
    color: #a7715d;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Baloo Da 2';

}

.phone {
    margin-bottom: 0;
    font-family: 'Baloo Da 2';
    font-size: 1.1em;
}



 /* .front-side, .back-side {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
}

.back-side {
     
    background-color: #3a4660;
    color: #a7715d;
}  */
